.navbar{
    display: flex;
    justify-content:space-between ;
    height: 30px;
    flex-direction: row;
    background-color:rgb(15, 13, 13);
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(29, 28, 28, 0.5);
 
}

.right-navbar {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    
    
}
.logo{
    width: 60px;
    padding-left: 20px;
}
.cart-logo{
    width: 25px;
}
.navbar-style{
    color: rgb(240, 240, 240);
    font-family: playfair;
    text-decoration: none;
    

}
.navbar-style:hover{
    color: rgb(187, 187, 180);
    transition-duration: 0.1s;
}

.navbar-style-cart{
    padding-right: 20px;
    width: 3;
}
.navbar-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: black;
    height: 40px;
    position: fixed;
    top: 30px;
    left: 0px;
    right: 0px;
}
.left-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;


}
.middle-section-style{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-box{
    margin-top: 10px;
    margin-bottom: 12px;
    border-radius: 25px;
    flex: 1;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    height: 22px;
    border-width: 1px;
    font-size: 16px;
}
.search-box::placeholder{
    font-size: 16px;
    font-family: playfair;
}
.right-navbar-style{
    margin-left: 15px;
}
.wishlist{
    width: 20px;
    
}
.account{
    width: 20px;
}
.navbar-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 13, 13);
    padding: 10px 20px;
    color:rgb(255, 251, 251);
    height: 10px;
    position:absolute;
    right: 0px;
    left: 0px;
    top:70px;
}

.animated-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px; /* Height for the text area */
    font-size: 13px;
    font-weight:normal;
    text-align: center;
    overflow: hidden;
    margin-right: 50px;
    color: gray
}
.sentence {
    position: absolute;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
    animation: slideDown 9s infinite;
}
/* Keyframes for the slide down animation */
@keyframes slideDown {
    0% { opacity: 0; transform: translateY(100%); }
    10% { opacity: 1; transform: translateY(0); }
    30% { opacity: 1; transform: translateY(0); }
    40% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 0; transform: translateY(-100%); }
}
/* For the first sentence */
.sentence:nth-child(1) {
    animation-delay: 0s;
}
/* For the second sentence */
.sentence:nth-child(2) {
    animation-delay: 3s;
}
/* For the third sentence */
.sentence:nth-child(3) {
    animation-delay: 6s;
}
.video{
    margin-top: 80px;
 
    text-align: center;
    margin-left: 0;
    margin-right: 10px;
    position: relative;
    z-index: -1;
}
video{
    top:100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
}    
.overlay-text{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: black;
    font-size: 12px;

    padding: 5px;
    line-height: 25px;
    white-space: normal;
    width: 500px;
    font-family:protest guerrilla;
    font-weight: 800px;
    
   
}
.paragraph-text{
    color: rgb(24, 21, 21);
    font-family: kanit;
    margin-left: 170px;
    font-size: 11px;
 
}
.men-shop-button{
    height: 30px;
    width: 120px;
    border-radius: 60px;
    background-color: rgb(75, 66, 66);
    border: none;
    cursor: pointer;
    border-style: solid;
    color: white;
    border-width: 2px;


}
.women-shop-button{
    height: 30px;
    width: 120px;
    border-radius: 60px;
    border-style: solid;
    border: none;
    cursor: pointer;
    background-color:black;
    color:white;
}
.women-shop-button:hover{
    background-color: rgb(75, 66, 66);
}
.men-shop-button:hover{
    background-color: black;
}











