.product-theme{
    margin-left: 50px;
    margin-top: 60px;
    font-family:kanit;
    font-weight: bold;
    font-size: 15px;
}
.product-grid{
    display:flex;
    grid-template-columns: 1fr 1fr 1fr
    1fr;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: row;
    z-index: 10000;
    


}
.product-image{
    width: 100%;
    margin-left: 20px;
    text-align: center;

    
}
.product-position{
    margin-bottom: 12px;
    position: relative;
    margin-top: 20px;
    z-index: -1;

}
.favourite{
    position: absolute;
    right: 3px;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.product-info-grid{
    display: flex;
    grid-template-columns: 1fr;
    margin-left: 20px;

}
.favourite-icon{
    width: 20px;
}
.product-name{
    font-family:playfair display ;
    font-weight: 500px;
    font-size: 14px;
    color: black;
    margin-top: 2px;
    margin-bottom: 0px;
}
.size{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 13px;
    color: gray;
}
.febric{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 13px;
    color: gray;
}
.price{
    margin-top: 0px;
    font-size: 15px;
    color: black;
}
.product-detils-link{
    text-decoration: none;
}
p{
    text-decoration: none;
}



