.product-theme-div{
    display: inline-block;
}
.product-theme{
    margin-left: 25px;
    margin-top: 60px;
    font-family:kanit;
    font-weight: bold;
    font-size: 20px;
    color: rgb(32, 30, 30);
}
.view-all{
    margin-left: 10px;
    color: rgb(32, 30, 30);
    font-size:15px ;
    font-weight: 300px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(32, 29, 29);
    margin: 20px 0;
    margin-left: 25px;
}
.product-grid{
    display:flex;
    grid-template-columns: 1fr 1fr 1fr
    1fr;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: row;
    z-index: 10000;
    


}
.product-image{
    width: 100%;
    margin-left: 25px;
    text-align: center;
    margin-top: 0px;

    
}
.product-position{
    margin-bottom: 12px;
    position: relative;
    margin-top: 20px;
    z-index: -1;
    

}
.favourite{
    position: absolute;
    right: 0px;
    top: 10px;
    
   
    
}
.product-info-grid{
    display: flex;
    grid-template-columns: 1fr;
    margin-left: 20px;

}
.favourite-icon{
    width: 20px;
}
.product-name{
    font-family:playfair display ;
    font-weight: 500px;
    font-size: 14px;
    color: black;
    margin-top: 2px;
    margin-bottom: 0px;
}
.size{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 13px;
    color: gray;
}
.febric{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 13px;
    color: gray;
}
.price{
    margin-top: 0px;
    font-size: 15px;
    color: black;
}
.product-detils-link{
    text-decoration: none;
}
p{
    text-decoration: none;
}



