.product-theme{
    margin-left: 50px;
    margin-top: 60px;
    font-family:kanit;
    font-weight: bold;
    font-size: 15px;
}
.product-grid{
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    margin-left: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
    


}
.product-pic{
    width: 250px;
    height: 320px;
    object-fit: cover;
    margin-bottom: 0px;
    margin-right: 20px;
}
.product-name{
    font-family:playfair display ;
    font-weight: 500px;
    font-size: 14px;
    color: black;
    margin-top: 2px;
    margin-bottom: 0px;
}
.size{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 13px;
    color: gray;
}
.febric{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 13px;
    color: gray;
}
.price{
    margin-top: 0px;
    font-size: 15px;
    color: black;
}
.product-link{
    text-decoration: none;
}
p{
    text-decoration: none;
}

